.vs
.vscode
!frontend/.vscode
*.local

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
backend/img/*
backend/*/migrations/*
!backend/*/migrations/__init__.py

# Environments
.venv

### React ###
# dependencies
node_modules

# production
dist

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# typescript
*.tsbuildinfo
